<h5>Header Bar component</h5>
<ng-dhis2-ui-header-bar></ng-dhis2-ui-header-bar>

<h5>Button component</h5>
<ng-dhis2-ui-button [label]="'Button'" [primary]="true" [small]="true">
  <div #ngDhis2UiContent>
    <div>Button</div>
  </div>
</ng-dhis2-ui-button>

<h5>Period selector component</h5>
<ng-dhis2-ui-period-selector
  [selectedPeriods]="selectedPeriods"
  (selectPeriods)="onSelectPeriods($event)"
></ng-dhis2-ui-period-selector>

<h5>Organisation unit selector component</h5>
<ng-dhis2-ui-org-unit-selector
  [selectedOrgUnits]="selectedOrgUnits"
  [orgUnitSelectionConfig]="orgUnitSelectionConfig"
  (selectOrgUnits)="onSelectOrgUnits($event)"
></ng-dhis2-ui-org-unit-selector>

<h5>Dictionary</h5>
<!-- <ngx-dhis2-dictionary-list
  [metadataIdentifiers]="[]"
></ngx-dhis2-dictionary-list> -->
<div [id]="'dictonary-container'"></div>

<h5>Wrapper implementation</h5>

<app-line-list
  [programId]="'FO8K8HiXrga'"
  [orgUnit]="'xrku9x3XnV9'"
  [actionOptions]="[
    { label: 'View', onClick: onView },
    { label: 'Edit', onClick: onEdit },
    { label: 'Delete', destructive: true, onClick: onDelete }
  ]"
></app-line-list>

<app-line-list
  [programId]="'piWUQa85ell'"
  [orgUnit]="'m0frOspS7JY'"
  [actionOptions]="[
    { label: 'View', onClick: onView },
    { label: 'Edit', onClick: onEdit },
    { label: 'Delete', destructive: true, onClick: onDelete }
  ]"
  [attributeFilters]="[
    { attribute: 'nfpxRnc5Rsg', operator: 'eq', value: 'A99' },
    { attribute: 'vZ6Eb7SovWK', operator: 'gt', value: 3 },
    { attribute: 'aukU9PbQpZs', operator: 'eq', value: 'Closed' },
    { attribute: 'jI43wrfikTb', operator: 'eq', value: 'true' }
  ]"
  [startDate]="'2024-03-01'"
  [endDate]="'2025-02-28'"
  (actionSelected)="onActionSelected($event)"
></app-line-list>

<app-data-table-ui
  [data]="[
    {
      name: 'Item A',
      description: 'Description of A',
      shortName: 'A',
      section: 'Section 1',
      index: 1
    },
    {
      name: 'Item B',
      description: 'Description of B',
      shortName: 'B',
      section: 'Section 2',
      index: 2
    }
  ]"
  [columnDefinitions]="[
    { column: 'name', display: 'Name', index: '0', visible: true },
    {
      column: 'description',
      display: 'Description',
      index: '1',
      visible: true
    },
    { column: 'shortName', display: 'Short Name', index: '2', visible: true },
  ]"
  [actionOptions]="[
    { label: 'View', onClick: onView },
    { label: 'Edit', onClick: onView },
    { label: 'Delete', destructive: true, onClick: onView }
  ]"
  (actionSelected)="onActionSelected($event)"
>
</app-data-table-ui>
