<h5>Header Bar component</h5>
<ng-dhis2-ui-header-bar></ng-dhis2-ui-header-bar>

<h5>Button component</h5>
<ng-dhis2-ui-button [label]="'Button'" [primary]="true" [small]="true">
  <div #ngDhis2UiContent>
    <div>Button</div>
  </div>
</ng-dhis2-ui-button>

<h5>Period selector component</h5>
<ng-dhis2-ui-period-selector
  [selectedPeriods]="selectedPeriods"
  (selectPeriods)="onSelectPeriods($event)"
></ng-dhis2-ui-period-selector>

<h5>Organisation unit selector component</h5>
<ng-dhis2-ui-org-unit-selector
  [selectedOrgUnits]="selectedOrgUnits"
  [orgUnitSelectionConfig]="orgUnitSelectionConfig"
  (selectOrgUnits)="onSelectOrgUnits($event)"
></ng-dhis2-ui-org-unit-selector>

<h5>Dictionary</h5>
<!-- <ngx-dhis2-dictionary-list
  [metadataIdentifiers]="[]"
></ngx-dhis2-dictionary-list> -->
<div [id]="'dictonary-container'"></div>

<h5>Wrapper implementation</h5>

<app-line-list-table 
[programId]="'piWUQa85ell'" 
[orgUnit]="'m0frOspS7JY'" 
[actionOptions]="[
    { label: 'View', onClick: onView },
    { label: 'Edit', onClick: onEdit },
    { label: 'Delete', destructive: true, onClick: onDelete }
  ]"
></app-line-list-table>

<!-- <app-line-list-table [programId]="'A3olldDSHQg'" [orgUnit]="'m0frOspS7JY'" [programStageId]="'PXsALJ60dF3'"></app-line-list-table> -->