<div>
  <h3>Form components</h3>

  <div>
    <ng-dhis2-ui-program-entry-form
      [event]="''"
      [enrollment]="'XuY6ni116lQ'"
      [config]="contract"
    />
    
    <!-- <ng-dhis2-ui-form
      [form]="form"
      [fields]="fields"
      (formUpdate)="onUpdate($event)"
    /> -->

    <!-- <ng-dhis2-ui-tracker-form [program]="'lw9fZTamYec'" /> -->
    <!-- <ng-dhis2-ui-program-entry-form
      [customOrgUnitRoots]="customOrgUnitRoots"
      [config]="programEntryConfig"
      [trackedEntity]="''"
      (instanceSaveCompleted)="onSaveComplete($event)"
      (formCanceel)="onCancel()"
    /> -->

    <!-- <ng-dhis2-ui-program-entry-form
      [collapsibleSections]="true"
      [event]="''"
      [enrollment]="''"
      [config]="householdMembers"
    /> -->

    <!-- <ng-dhis2-ui-program-entry-form
      [customOrgUnitRoots]="customOrgUnitRoots"
      [collapsibleSections]="true"
      [event]="''"
      [enrollment]="''"
      [config]="verification"
    /> -->

    <!-- <ng-dhis2-ui-program-entry-form
      [collapsibleSections]="true"
      [event]="''"
      [enrollment]="''"
      [config]="household"
    /> -->

    <!-- <ng-dhis2-ui-program-entry-form
      [customOrgUnitRoots]="[]"
      [collapsibleSections]="false"
      [config]="demoForm"
      [trackedEntity]="''"
      (instanceUpdate)="onSaveComplete($event)"
      (formCanceel)="onCancel()"
    /> -->

    <ng-dhis2-ui-program-entry-form
      [customOrgUnitRoots]="[]"
      [collapsibleSections]="false"
      [config]="mcn"
      [trackedEntity]="''"
      (instanceSaveCompleted)="onSaveComplete($event)"
      (formCanceel)="onCancel()"
    />

    <!-- <ng-dhis2-ui-program-entry-form
    <ng-dhis2-ui-program-entry-form
      [event]="'UUsAPT2yqyc'"
      [enrollment]="'XXgdGzHazIj'"
      [config]="programEntryConfig"
        [preprocess]="beforeSave"
      (instanceSaveCompleted)="onSaveComplete($event)"
      (formCanceel)="onCancel()"
    /> 
    <ng-dhis2-ui-program-entry-form
        [event]="paymentInformationId()!"
        [enrollment]="applicant()!.latestEnrollment!.enrollment!"
        [config]="formConfig"
      /> -->

    <!-- <ng-dhis2-ui-program-entry-form
      [event]="'Lv8KziKr1I8'"
      [enrollment]="'trT6QMNQgxx'"
      [config]="paymentInformationFormConfig"
    /> -->

    <!-- <ng-dhis2-ui-program-entry-form
      [customOrgUnitRoots]="customOrgUnitRoots"
      [event]="'PRTGEpZPeP8'"
      [enrollment]="'EydnXvsmfZM'"
      [config]="incidentManagement"
    /> -->

    <!-- <ng-dhis2-ui-program-entry-form
        [collapsibleSections]="true"
        class="block w-full"
        [config]="malariaCaseNotification"
        (formCancel)="onCancel()"
      ></ng-dhis2-ui-program-entry-form> -->
    <!-- Lorem ipsum dolor sit, amet consectetur adipisicing elit. Earum illum tenetur, veritatis vero nulla, repellendus architecto nam, quaerat tempore dolores odit saepe. Esse asperiores aperiam, iure libero ea deserunt. Deserunt. -->
    <!-- <ng-dhis2-ui-program-entry-form
          [collapsibleSections]="true"
      [event]="'APg74uoOAUk'"
      [enrollment]="'XncoVtCOMYe'"
      [config]="householdMembers"
    /> -->

    <!-- <ng-dhis2-ui-event-form
      [program]="'lw9fZTamYec'"
      [programStage]="'k4ZFqYqRNDF'"
    /> -->
  </div>
</div>
<!-- new FormMetaData({
  programs: [program],
  programStage: this.programStage(),
  includeAllProgramStages: this.config()?.includeAllProgramStages,
  disableEnrollmentDate: true,
  splitRegistrationSection: false,
  formFieldExtensions: this.config()?.formFieldExtensions,
}).toJson() -->
